@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px solid red;
}

h1 {
  @apply text-2xl font-bold text-gray-900;
}

/* table {
  display: block;
} */

/* th,
td {
  @apply border border-black;
}

th {
  @apply bg-gray-700 px-3 text-white;
}

tr:nth-child(even) {
  @apply bg-gray-300;
} */

label {
  @apply flex flex-col;
}

input,
select {
  @apply rounded-lg border border-gray-300 px-2 py-1 outline-none focus:border-indigo-500;
}

button,
button[type='button'],
button[type='submit'] {
  @apply rounded-lg bg-indigo-500 px-3 py-2 text-white shadow-lg hover:bg-indigo-400;
}

button.secondary {
  @apply rounded-lg bg-white px-3 py-2 text-indigo-500 shadow-lg hover:bg-gray-100;
}

li {
  @apply rounded-md border border-gray-200 px-3 py-2 text-gray-200;
}

li:hover {
  @apply cursor-pointer bg-gray-700;
}

button.icon {
  @apply bg-transparent text-2xl text-black shadow-none;
}
button.icon-dark {
  @apply bg-transparent text-2xl text-white shadow-none;
}

button.icon:hover {
  @apply bg-transparent;
}

.sidebar-dekstop {
  @apply lg:relative;
}

.sidebar-mobile {
  @apply absolute top-0 left-0 h-full lg:relative;
}
